# Ignore venv and Python cache
venv/
__pycache__/
*.pyc
*.pyo
*.log

# Ignore data and output folders completely
data/
output/

# Ignore all files inside data/, but not the folders themselves or .gitkeep files
data/**
!data/
!data/**/
!data/**/.gitkeep

# Ignore all files inside output/, but not the folders themselves or .gitkeep files
output/**
!output/
!output/**/
!output/**/.gitkeep

# Ignore PyInstaller build artifacts
build/
dist/

# Ignore all files inside temp/, but not the folders themselves or .gitkeep files
temp/**
!temp/
!temp/**/
!temp/**/.gitkeep
