# Ignore venv and Python cache
venv/
__pycache__/
*.pyc
*.pyo
*.log

# Ignore data and output folders completely
data/
output/

# Ignore PyInstaller build artifacts
build/
dist/

# Ignore all files inside temp/, but not the folders themselves or .gitkeep files
temp/**
!temp/
!temp/**/
!temp/**/.gitkeep